---
interface Props {
    seasonal_beer_title: string;
    title_beer_card: string;
    beer_img_card: string;
    beer_seasonal_text: string;
    know_seasonal_beer: string;
    mix_seasonal_beer: string;
    flavor_seasonal_beer: string;
    Combine_seasonal_beer: string;
    color_seasonal_beer: string;
    volume_seasonal_beer: string;
}

const props = Astro.props;
---

<div
    class="w-full flex flex-col items-center my-10 card-content relative overflow-hidden"
    id="cerveza-temporada"
>
    <h2
        class="title text-2xl sm:text-3xl lg:text-5xl font-bold mb-6 text-brand-bgGold"
    >
        {props.seasonal_beer_title}
    </h2>
    <img
        class="w-72 rounded-xl z-10"
        src={props.beer_img_card}
        alt="Imagen de ejemplo"
    />
    <div
        class="relative h-50 max-w-sm rounded-2xl shadow-2xl bg-white p-4 -mt-28"
    >
        <div class="px-4 py-4">
            <h2 class="text-xl font-semibold text-gray-900 mt-11">
                {props.title_beer_card}
            </h2>
            <p class="text-gray-700 mt-2">
                {props.beer_seasonal_text}
            </p>
        </div>
    </div>

    <div class="relative h-50 max-w-sm rounded-2xl bg-white p-4 mt-5 mb-5">
        <div class="px-4">
            <h2 class="text-xl font-semibold text-gray-900 mt-5">Conocela</h2>
            <p class="text-gray-700 mt-2">
                {props.know_seasonal_beer}
            </p>
            <div class="text-gray-700 mt-2 mb-4">
                <div class="my-2">
                    <p class="font-bold">Mezcla</p>
                    <p>{props.mix_seasonal_beer}</p>
                </div>
                <div class="my-2">
                    <p class="font-bold">Sabor</p>
                    <p>{props.flavor_seasonal_beer}</p>
                </div>
                <div class="my-2">
                    <p class="font-bold">Combina con</p>
                    <p>{props.Combine_seasonal_beer}</p>
                </div>
                <div class="my-2">
                    <p class="font-bold">Color</p>
                    <p>{props.color_seasonal_beer}</p>
                </div>
                <div class="my-2">
                    <p class="font-bold">Volumen de alcohol</p>
                    <p>{props.volume_seasonal_beer}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .card-content::before {
        width: 500px;
        height: 300px;
        content: "";
        background-image: linear-gradient(45deg, #8ad315, rgb(255, 0, 0));
        position: absolute;
        z-index: -1;
        border-radius: 20% 30% 80% 10%;
        filter: blur(150px);
        top: 50%;
        left: 40%;
        transform: translate(-10%, -50%);
        transition: 1s;
    }
    @media (max-width: 639px) {
        .card-content::before {
            width: 500px;
            height: 300px;
            content: "";
            background-image: linear-gradient(45deg, #8ad315, rgb(255, 0, 0));
            position: absolute;
            z-index: -1;
            border-radius: 20% 30% 80% 10%;
            filter: blur(150px);
            top: 50%;
            left: 30%;
            transform: translate(-10%, -50%);
            transition: 1s;
        }
    }
</style>
