---
import "../style/noticias.css";
interface Props {
    first_image: string;
    url_first_image: string;
    second_image: string;
    url_second_image: string;
    third_image: string;
    url_third_image: string;
    four_image: string;
    url_four_image: string;
}

const props = Astro.props;
---

<div class="container" id="eventos">
    <div class="wrapper">
        <div>
            <i id="left" class="arrow_left">&lt;</i>
        </div>
        <ul class="news">
            <li class="card">
                <div class="img">
                    <a href={props.url_first_image} target="_blank">
                        <img src={props.first_image} alt="" draggable="false" />
                    </a>
                </div>
            </li>
            <li class="card">
                <div class="img">
                    <a href={props.url_second_image} target="_blank">
                        <img
                            src={props.second_image}
                            alt=""
                            draggable="false"
                        />
                    </a>
                </div>
            </li>
            <li class="card">
                <div class="img">
                    <a href={props.url_third_image} target="_blank">
                        <img src={props.third_image} alt="" draggable="false" />
                    </a>
                </div>
            </li>
            <li class="card">
                <div class="img">
                    <a href={props.url_four_image} target="_blank">
                        <img src={props.four_image} alt="" draggable="false" />
                    </a>
                </div>
            </li>
        </ul>
        <i id="right" class="arrow_rigth">></i>
    </div>
</div>

<script src="/src/JS/carousel.js"></script>
